
html{
    background: #f6f8fa!important
}

h2{
    color: #2f2f2f
}
.main{
    margin: auto;
    margin-top: 50px;
    max-width: 1000px;
}

#checkboxesForm{
    display: flex;
    flex-wrap: wrap;
}

#checkboxesForm .feature{
    flex: 1 20%;
    padding: 2px;
}

input[type=checkbox]:not(:first-child){
    margin-left: 15px;
}

input[type=checkbox], #checkboxesForm label{
    cursor: pointer;
}

#payloads{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.payload{
    flex: 1 0 25%;
    background: #e2e2e2;
    padding:10px;
    border-radius:5px;
    margin: 5px;
    position:relative;
    padding-left: 30px;
    display:inline-block;
    max-width: 500px;
}

.payload .tags{
    max-width: 400px;
}

.payload .tags span{
    background: #b3bfbf;
    font-size:13px;
    border-radius:3px;
    padding: 2px 4px;
    margin: 2px;
    pointer-events: none;
    display: inline-block;
}

.payload .counter{
    position:absolute;
    top:0;
    left:0;
    background: #adadad;
    font-size: 12px;
    padding: 4px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    pointer-events: none;
}

.payload .pocs{
    position:absolute;
    top:0;
    right:0;
    margin:0;
    padding:0;
    /* float: right; */
}

.payload .pocs span{
    margin-left: 5px;
    background: #adadad;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    cursor:pointer;
    font-size: 10px;
    color:white;
    font-weight: bold;
    float: right;
}

.payload .poc-reflected{
    right: 100px;
}

.payload .poc-dom::before{
    content: "PoC DOM"
}

.payload .poc-reflected::before{
    content: "PoC Reflected"
}

.subtitle{
    color: black;
    display: inline-block;
    opacity: 0.6;
    height: 30px;
    margin-top:-20px;
    transform: scale(0.8);
    transform-origin: left center;
}
.repo-link{
    color: black;
    text-decoration: none;
    vertical-align: middle;
    font-size: 22px;
}

.subtitle span{
    vertical-align: middle;
    margin-left: 10px;
    
}
